### Fazendo Imports de Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import scipy.stats as sp
from sklearn.ensemble import ExtraTreesClassifier

## Trabalhando com o dataset de notas Saresp

In [2]:
df11 = pd.read_csv('SARESP_escolas_2011.csv', sep=';')
df12 = pd.read_csv('SARESP_escolas_2012.csv', sep=';')
df13 = pd.read_csv('SARESP_escolas_2013_0.csv', sep=';')
df14 = pd.read_csv('SARESP_escolas_2014.csv', sep=';')
df15 = pd.read_csv('SARESP_escolas_2015.csv', sep=';')
df16 = pd.read_csv('SARESP_escolas_2016.csv', sep=';')
df17 = pd.read_csv('SARESP_escolas_2017.csv', sep=';')
df18 = pd.read_csv('SARESP_escolas_2018.csv', sep=';', encoding='latin1')

In [3]:
frames = [df11, df12, df13, df14, df15, df16, df17, df18]

In [4]:
df11_18 = pd.concat(frames, sort=False)

In [5]:
df11_18['medprof'] = df11_18['medprof'].str.replace(',', '.')

In [6]:
df11_18['medprof'] = df11_18['medprof'].astype('float16')

In [7]:
df11_18['SERIE_ANO'].value_counts(normalize=True)

EM-3ª série    0.340740
9º Ano EF      0.308076
7º Ano EF      0.198748
5º Ano EF      0.096597
3º Ano EF      0.055839
Name: SERIE_ANO, dtype: float64

In [8]:
df11_18_emedio = df11_18[df11_18['SERIE_ANO']=='EM-3ª série']

In [9]:
df11_18_efundamental = df11_18[(df11_18['SERIE_ANO']=='9º Ano EF ') | (df11_18['SERIE_ANO']=='7º Ano EF') | (df11_18['SERIE_ANO']=='5º Ano EF')]

In [10]:
notatuse = ['DEPADM', 'DepBol', 'NomeDepBol', 'NOMESC', 'SERIE_ANO','cod_per', 'periodo', 'co_comp', 'codRMet']

In [11]:
df11_18_emedio.drop(notatuse, axis=1, inplace=True)

C:\Users\epfel\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
df11_18_efundamental.drop(notatuse, axis=1, inplace=True)

In [13]:
df11_18_emedio['ds_comp'].value_counts(normalize=True)

MATEMÁTICA           0.356287
LÍNGUA PORTUGUESA    0.356287
CIÊNCIAS             0.096069
GEOGRAFIA            0.095679
HISTÓRIA             0.095679
Name: ds_comp, dtype: float64

In [14]:
df_medio_mat  = df11_18_emedio[df11_18_emedio['ds_comp']=='MATEMÁTICA']
df_medio_port = df11_18_emedio[df11_18_emedio['ds_comp']=='LÍNGUA PORTUGUESA']
df_fund_mat = df11_18_efundamental[df11_18_efundamental['ds_comp']=='MATEMÁTICA']
df_fund_port = df11_18_efundamental[df11_18_efundamental['ds_comp']=='LÍNGUA PORTUGUESA']

In [15]:
df_medio_mat = pd.DataFrame(df_medio_mat.groupby('CODESC')['medprof'].mean())
df_medio_port = pd.DataFrame(df_medio_port.groupby('CODESC')['medprof'].mean())
df_medio_geral = pd.DataFrame(df11_18_emedio.groupby('CODESC')['medprof'].mean())
df_fund_mat = pd.DataFrame(df_fund_mat.groupby('CODESC')['medprof'].mean())
df_fund_port = pd.DataFrame(df_fund_port.groupby('CODESC')['medprof'].mean())
df_fund_geral = pd.DataFrame(df11_18_efundamental.groupby('CODESC')['medprof'].mean())

In [16]:
df_medio_mat.describe()

           medprof
count  3817.000000
mean           inf
std      13.132812
min     235.375000
25%     265.500000
50%     274.000000
75%     282.500000
max     368.500000

In [17]:
df_medio_mat['tag_melhores_25%_mat'] = ['1' if X >= 282.500000 else '0' for X in df_medio_mat['medprof']]

In [18]:
df_medio_port.describe()

           medprof
count  3817.000000
mean           inf
std      12.265625
min     220.375000
25%     260.750000
50%     269.000000
75%     276.500000
max     321.500000

In [19]:
df_medio_port['tag_melhores_25%_port'] = ['1' if X >= 276.500000 else '0' for X in df_medio_port['medprof']]

In [20]:
df_fund_mat.describe()

           medprof
count  4780.000000
mean           inf
std      14.117188
min     120.500000
25%     208.750000
50%     217.500000
75%     227.000000
max     278.000000

In [21]:
df_fund_mat['tag_melhores_25%_mat'] = ['1' if X >= 227.000000 else '0' for X in df_fund_mat['medprof']]

In [22]:
df_fund_port.describe()

           medprof
count  4780.000000
mean           inf
std      12.695312
min     122.625000
25%     201.718750
50%     210.000000
75%     218.500000
max     268.250000

In [23]:
df_fund_port['tag_melhores_25%_port'] = ['1' if X >= 218.500000 else '0' for X in df_fund_port['medprof']]

In [24]:
df_medio_geral.describe()

           medprof
count  3817.000000
mean           inf
std      12.335938
min     233.750000
25%     263.750000
50%     272.000000
75%     280.250000
max     337.250000

In [25]:
df_medio_geral['tag_melhores_25%'] = ['1' if X >= 280.250000 else '0' for X in df_medio_geral['medprof']]

In [26]:
df_fund_geral.describe()

           medprof
count  4780.000000
mean           inf
std      13.289062
min     138.250000
25%     209.500000
50%     218.500000
75%     227.375000
max     270.250000

In [27]:
df_fund_geral['tag_resposta'] = ['1' if X >= 227.375000 else '0' for X in df_fund_geral['medprof']]

In [28]:
df_medio_geral = pd.merge(df_medio_geral, df_medio_port,left_index=True, right_index=True, how='outer')

In [29]:
df_medio_geral = pd.merge(df_medio_geral, df_medio_mat,left_index=True, right_index=True, how='outer')

In [30]:
df_medio_geral.columns = ['Média_SARESP_geral', 'tag_melhores_25%', 'Média_SARESP_port', 'tag_melhores_25%_port', 'Média_SARESP_mat', 'tag_melhores_25%_mat']

In [31]:
df_medio_geral.corr()

                    Média_SARESP_geral  Média_SARESP_port  Média_SARESP_mat
Média_SARESP_geral            1.000000           0.965485          0.962220
Média_SARESP_port             0.965485           1.000000          0.896611
Média_SARESP_mat              0.962220           0.896611          1.000000

In [32]:
((df_medio_geral['tag_melhores_25%_port']==df_medio_geral['tag_melhores_25%_mat']).sum())/df_medio_geral.shape[0]

0.877652606759235

In [33]:
df_fund_geral = pd.merge(df_fund_geral, df_fund_port,left_index=True, right_index=True, how='outer')

In [34]:
df_fund_geral = pd.merge(df_fund_geral, df_fund_mat,left_index=True, right_index=True, how='outer')

In [35]:
df_fund_geral.columns = ['Média_SARESP_geral', 'tag_melhores_25%', 'Média_SARESP_port', 'tag_melhores_25%_port', 'Média_SARESP_mat', 'tag_melhores_25%_mat']

In [36]:
df_fund_geral.corr()

                    Média_SARESP_geral  Média_SARESP_port  Média_SARESP_mat
Média_SARESP_geral            1.000000           0.964066          0.940324
Média_SARESP_port             0.964066           1.000000          0.911619
Média_SARESP_mat              0.940324           0.911619          1.000000

In [37]:
((df_fund_geral['tag_melhores_25%_port']==df_fund_geral['tag_melhores_25%_mat']).sum())/df_fund_geral.shape[0]

0.9

In [38]:
variaveis_correlacionadas = ['Média_SARESP_port', 'tag_melhores_25%_port', 'Média_SARESP_mat', 'tag_melhores_25%_mat']

In [39]:
df_medio_geral.drop(variaveis_correlacionadas, axis=1, inplace=True)

In [40]:
df_fund_geral.drop(variaveis_correlacionadas, axis=1, inplace=True)

## importando ausências

In [41]:
df1 = pd.read_csv('BASE_AUSENCIAS_0419.csv', sep=';')

In [42]:
df2 = pd.read_csv('BASE_AUSENCIAS_1118.csv', sep=';')

In [43]:
df3 = pd.read_csv('BASE_AUSENCIAS_1119.csv', sep=';')

In [44]:
frames = [df1, df2, df3]

In [45]:
ausencias = pd.concat(frames, sort=False)

In [46]:
ausencias = pd.DataFrame(ausencias.groupby('CIE_ESCOLA')['TOT_DIAS_AUSENCIAS'].mean())

In [47]:
ausencias.drop(0, axis=0, inplace=True)

## Importando Total de Disciplinas sem Professor

In [48]:
total_sem_prof = pd.read_csv('total.csv', sep=',')

In [49]:
total_sem_prof = pd.DataFrame(total_sem_prof.groupby('CD_ESCOLA')['COD_DISCIPLINA'].nunique())

In [50]:
total_sem_prof.columns = ['Num_Disc_semprof']

## Importando Formação dos Professores

In [51]:
df1 = pd.read_csv('BASE_FORMACAO_0419a.csv', sep=';')

In [52]:
df2 = pd.read_csv('BASE_FORMACAO_1118.csv', sep=';', encoding='Latin-1')

In [53]:
df3 = pd.read_csv('BASE_FORMACAO_1118.csv', sep=';', encoding='Latin-1')

In [54]:
frames = [df1, df2, df3]

In [55]:
formacao = pd.concat(frames, sort=False)

In [56]:
fundamental = ['S/INFO', 'ENSINO FUNDAMENTAL']
medio = ['ENSINO MÉDIO', 'ENSINO MÌäDIO']
extensao = ['APERF/EXTENSÃO CULTURAL', 'APERF/EXTENSÌÄO CULTURAL']
bacharelado_teconologico = ['BACHARELADO/TECNÓLOGO', 'BACHARELADO/TECNÌÒLOGO']
licenciatura = ['LICENCIATURA', 'LICENCIATURA + BACHARELADO/TECNÓLOGO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO' ]
especializacao = ['LICENCIATURA + ESPECIALIZAÇÃO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO + ESPECIALIZAÇÃO', 'BACHARELADO/TECNÓLOGO + ESPECIALIZAÇÃO', 'ESPECIALIZAÇÃO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO + ESPECIALIZAÌàÌÄO', 'LICENCIATURA + ESPECIALIZAÌàÌÄO', 'BACHARELADO/TECNÌÒLOGO + ESPECIALIZAÌàÌÄO', 'ESPECIALIZAÌàÌÄO']
mestrado = ['LICENCIATURA + MESTRADO', 'LICENCIATURA + ESPECIALIZAÇÃO + MESTRADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO + ESPECIALIZAÇÃO + MESTRADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO + MESTRADO', 'BACHARELADO/TECNÓLOGO + ESPECIALIZAÇÃO + MESTRADO', 'ESPECIALIZAÇÃO+MESTRADO', 'LICENCIATURA + ESPECIALIZAÌàÌÄO + MESTRADO', 'MESTRADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO + MESTRADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO + ESPECIALIZAÌàÌÄO + MESTRADO', 'BACHARELADO/TECNÌÒLOGO + MESTRADO', 'ESPECIALIZAÌàÌÄO+MESTRADO', 'BACHARELADO/TECNÌÒLOGO + ESPECIALIZAÌàÌÄO + MESTRADO']
doutorado = ['LICENCIATURA + MESTRADO+DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO + MESTRADO + DOUTORADO', 'LICENCIATURA + ESPECIALIZAÇÃO + MESTRADO + DOUTORADO', 'BACHARELADO/TECNÓLOGO + MESTRADO', 'LICENCIATURA + DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO+ESPECIALIZAÇÃO + MESTRADO + DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO + DOUTORADO', 'BACHARELADO/TECNÓLOGO + MESTRADO + DOUTORADO', 'BACHARELADO/TECNÓLOGO + DOUTORADO', 'LICENCIATURA + ESPECIALIZAÇÃO+DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÓLOGO+ESPECIALIZAÇÃO+DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO + MESTRADO + DOUTORADO', 'LICENCIATURA + ESPECIALIZAÌàÌÄO + MESTRADO + DOUTORADO',  'LICENCIATURA + ESPECIALIZAÌàÌÄO+DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO+ESPECIALIZAÌàÌÄO+DOUTORADO', 'BACHARELADO/TECNÌÒLOGO + MESTRADO + DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO + DOUTORADO', 'LICENCIATURA + BACHARELADO/TECNÌÒLOGO+ESPECIALIZAÌàÌÄO + MESTRADO + DOUTORADO', 'BACHARELADO/TECNÌÒLOGO + DOUTORADO']

In [57]:
lista = list(formacao['FORMACAO'])

In [58]:
listatag = []
y = 0

for x in lista: 
    if x in fundamental:
        y = 1
        listatag.append(y)
    elif x in medio:
        y = 2
        listatag.append(y)
    elif x in extensao:
        y = 3
        listatag.append(y)
    elif x in bacharelado_teconologico:
        y = 4
        listatag.append(y)
    elif x in licenciatura:
        y = 5
        listatag.append(y)
    elif x in especializacao:
        y = 6
        listatag.append(y)
    elif x in mestrado:
        y = 7
        listatag.append(y)
    elif x in doutorado:
        y = 8
        listatag.append(y)
    else:
        y = 0
        listatag.append(y)

In [59]:
formacao['tag_formacao'] =  pd.Series(listatag)

In [60]:
formacao =  pd.DataFrame(formacao.groupby('CIE_ESCOLA')['tag_formacao'].mean())

In [61]:
formacao.drop(0, axis=0, inplace=True)

In [62]:
formacao

            tag_formacao
CIE_ESCOLA
12              4.727273
24              4.614458
36              4.765343
48              4.697436
59              4.671053
...                  ...
980171          4.712871
980183          4.322222
980195          4.796117
980201          4.774194
980213          4.663366

[5139 rows x 1 columns]

## Importando dados de Estrutura

In [63]:
estrutura = pd.read_csv('06_Escolas_Dependencias.csv', sep=';')

In [64]:
notusing =['NOMEDEP','DE',
 'MUN',
 'DISTR', 'NOMESC',
 'TIPOESC',
 'TIPOESC_DESC',
 'SITUACAO',]

In [65]:
estrutura.drop(notusing, axis=1, inplace=True)

In [66]:
estrutura = estrutura.set_index('CODESC')

## Importando Carga Horária

In [67]:
df1 = pd.read_csv('BASE_CARGA_HOR_SALA_AULA_0419.csv', sep=';')

In [68]:
df2 = pd.read_csv('BASE_CARGA_HOR_SALA_AULA_0818_anonimizado.csv', sep=';', encoding='latin1')

C:\Users\epfel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6,10,11,12,13,14,16,19,21,22,23,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
df3 = pd.read_csv('BASE_CARGA_HOR_SALA_AULA_1119.csv', sep=';')

In [70]:
frames = [df1, df2, df3]

In [71]:
carga_horaria = pd.concat(frames, sort=False)

In [72]:
carga_horaria.drop(286011, axis=0, inplace=True)

In [73]:
carga_horaria['TOT_GERAL_AULA'] = carga_horaria['TOT_GERAL_AULA'].astype('float32')

In [74]:
carga_horaria.groupby(['CODESC', 'DEN_MATERIA'])['TOT_GERAL_AULA'].sum().sort_values(ascending=False)

CODESC  DEN_MATERIA
901124  ENS. FUNDAM.      6050.0
923515  ENS. FUNDAM.      4800.0
925949  ENS. FUNDAM.      4525.0
35476   ENS. FUNDAM.      4525.0
915701  ENS. FUNDAM.      4500.0
                           ...
925925  FILOSOFIA            1.0
30570   FILOSOFIA EJA        1.0
43928   GEOGR EJA            1.0
14148   SOCIOLOGIA EJA       1.0
7055    SOCIOLOGIA EJA       1.0
Name: TOT_GERAL_AULA, Length: 129763, dtype: float32

In [75]:
cg_geral = pd.DataFrame(carga_horaria.groupby(['CODESC'])['TOT_GERAL_AULA'].mean())

In [76]:
cg_geral.columns = ['Carga_Horaria_Geral']

## Importando dados da Diretoria

In [77]:
df_dir = pd.read_csv('DIRETORES DE ESCOLA.csv', sep=';')

In [78]:
df_coord = pd.read_csv('PROFESSOR_COORDENADOR.csv', sep=';')

In [79]:
df_vidir = pd.read_csv('VICE_DIRETOR.csv', sep=';')

In [80]:
df_dir['tag2014'] = ['1' if x == 'SIM' else '0' for x in df_dir['2014']]
df_dir['tag2015'] = ['1' if x == 'SIM' else '0' for x in df_dir['2015']]
df_dir['tag2016'] = ['1' if x == 'SIM' else '0' for x in df_dir['2016']]
df_dir['tag2017'] = ['1' if x == 'SIM' else '0' for x in df_dir['2017']]
df_dir['tag2018'] = ['1' if x == 'SIM' else '0' for x in df_dir['2018']]
df_dir['tag2019'] = ['1' if x == 'SIM' else '0' for x in df_dir['2019']]
df_coord['tag2014'] = ['1' if x == 'SIM' else '0' for x in df_coord['2014']]
df_coord['tag2015'] = ['1' if x == 'SIM' else '0' for x in df_coord['2015']]
df_coord['tag2016'] = ['1' if x == 'SIM' else '0' for x in df_coord['2016']]
df_coord['tag2017'] = ['1' if x == 'SIM' else '0' for x in df_coord['2017']]
df_coord['tag2018'] = ['1' if x == 'SIM' else '0' for x in df_coord['2018']]
df_coord['tag2019'] = ['1' if x == 'SIM' else '0' for x in df_coord['2019']]
df_vidir['tag2014'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2014']]
df_vidir['tag2015'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2015']]
df_vidir['tag2016'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2016']]
df_vidir['tag2017'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2017']]
df_vidir['tag2018'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2018']]
df_vidir['tag2019'] = ['1' if x == 'SIM' else '0' for x in df_vidir['2019']]

In [81]:
df_dir['tag2014'] = df_dir['tag2014'].astype('int32')
df_dir['tag2015'] = df_dir['tag2015'].astype('int32')
df_dir['tag2016'] = df_dir['tag2016'].astype('int32')
df_dir['tag2017'] = df_dir['tag2017'].astype('int32')
df_dir['tag2018'] = df_dir['tag2018'].astype('int32')
df_dir['tag2019'] = df_dir['tag2019'].astype('int32')
df_dir['total_tag'] =  (df_dir['tag2014'] + df_dir['tag2015'] + df_dir['tag2016'] + df_dir['tag2017'] + df_dir['tag2018'] + df_dir['tag2019'])
df_coord['tag2014'] = df_coord['tag2014'].astype('int32')
df_coord['tag2015'] = df_coord['tag2015'].astype('int32')
df_coord['tag2016'] = df_coord['tag2016'].astype('int32')
df_coord['tag2017'] = df_coord['tag2017'].astype('int32')
df_coord['tag2018'] = df_coord['tag2018'].astype('int32')
df_coord['tag2019'] = df_coord['tag2019'].astype('int32')
df_coord['total_tag'] =  (df_coord['tag2014'] + df_coord['tag2015'] + df_coord['tag2016'] + df_coord['tag2017'] + df_coord['tag2018'] + df_coord['tag2019'])
df_vidir['tag2014'] = df_vidir['tag2014'].astype('int32')
df_vidir['tag2015'] = df_vidir['tag2015'].astype('int32')
df_vidir['tag2016'] = df_vidir['tag2016'].astype('int32')
df_vidir['tag2017'] = df_vidir['tag2017'].astype('int32')
df_vidir['tag2018'] = df_vidir['tag2018'].astype('int32')
df_vidir['tag2019'] = df_vidir['tag2019'].astype('int32')
df_vidir['total_tag'] =  (df_vidir['tag2014'] + df_vidir['tag2015'] + df_vidir['tag2016'] + df_vidir['tag2017'] + df_vidir['tag2018'] + df_vidir['tag2019'])

In [82]:
df_dir = pd.DataFrame(df_dir.groupby('CD_ESCOLA')['total_tag'].mean())

In [83]:
df_coord = pd.DataFrame(df_coord.groupby('CD_ESCOLA')['total_tag'].mean())

In [84]:
df_vidir = pd.DataFrame(df_vidir.groupby('CD_ESCOLA')['total_tag'].mean())

In [85]:
diretoria_cord = pd.merge(df_dir, df_coord, left_index=True, right_index=True, how='outer')

In [86]:
diretoria = pd.merge(diretoria_cord, df_vidir, left_index=True, right_index=True, how='outer')

In [87]:
diretoria.columns = ['tempo_diretor', 'tempo_coordenador', 'tempo_vice']

## Importando Dados Alunos por Escola

In [88]:
df = pd.read_csv('10_Escolas_Classes_Qtde_Alunos.csv', sep=';')

In [89]:
df['TipoEnsino'].value_counts(normalize=True)

ENSINO FUNDAMENTAL DE 9 ANOS                   0.460598
ENSINO MEDIO                                   0.316334
ENSINO FUNDAMENTAL DE 8 ANOS                   0.047085
EDUCAÇÃO COMPLEMENTAR                          0.042443
EJA ENSINO MÉDIO                               0.035685
EDUCACAO ESPECIAL - DM                         0.027438
CEL                                            0.025741
EJA ENSINO FUNDAMENTAL 5ª A 8ª                 0.013275
ATIVIDADES CURRICULARES DESPORTIVAS (ACD)      0.007181
ENSINO FUNDAMENTAL (6º ANO A 9º ANO) - CASA    0.005915
EJA ENSINO FUNDAMENTAL 1ª A 4ª                 0.003447
EDUCAÇÃO FÍSICA DOS ALUNOS DO NOTURNO          0.003326
ENSINO MÉDIO - CASA                            0.003158
EDUCACAO ESPECIAL - DA                         0.002584
ESPECTRO DO AUTISMO                            0.001760
EDUCACAO ESPECIAL - DV                         0.001479
ENSINO FUNDAMENTAL (1º ANO A 5º ANO) - CASA    0.001250
EDUCACAO ESPECIAL - DF                         0.000499
PROJETO EXPLORANDO CURRÍCULO - PEC             0.000453
EDUCACAO INFANTIL                              0.000275
ESPANHOL                                       0.000058
SALA DE RECURSO ALTAS HABILIDADE               0.000017
Name: TipoEnsino, dtype: float64

In [90]:
qte_ensinomedio = df[df['TipoEnsino']=='ENSINO MEDIO']

In [91]:
qte_ensinomedio = qte_ensinomedio[['COD_ESC', 'QTDE_ALUNOS']]

In [92]:
qte_fundamental = df[(df['TipoEnsino']=='ENSINO FUNDAMENTAL DE 9 ANOS') |  (df['TipoEnsino']=='ENSINO FUNDAMENTAL DE 8 ANOS')]

In [93]:
qte_fundamental = qte_fundamental[['COD_ESC', 'QTDE_ALUNOS']]

In [94]:
qte_fundamental = pd.DataFrame(qte_fundamental.groupby('COD_ESC')['QTDE_ALUNOS'].mean())

In [95]:
qte_ensinomedio = pd.DataFrame(qte_ensinomedio.groupby('COD_ESC')['QTDE_ALUNOS'].mean())

## Criando os Datasets para exploração

In [96]:
join_frames = [ cg_geral, qte_ensinomedio, diretoria, estrutura, formacao, ausencias, total_sem_prof]
for x in join_frames:
    df_medio_geral =  pd.merge(df_medio_geral, x, left_index=True, right_index=True, how='left')

In [97]:
join_frames = [ cg_geral, qte_fundamental, diretoria, estrutura, formacao, ausencias, total_sem_prof]
for x in join_frames:
    df_fund_geral =  pd.merge(df_fund_geral, x, left_index=True, right_index=True, how='left')

## Explorando as variáveis

In [98]:
var_resposta = ['Média_SARESP_geral','QTDE_ALUNOS', 'tempo_coordenador', 'tempo_vice','TOT_SALAS_AULA', 'SALAS_AULA','tempo_diretor', 'Carga_Horaria_Geral', 'TOT_DIAS_AUSENCIAS', 'tag_formacao', 'Num_Disc_semprof']

In [99]:
df_fund_geral_positivo = df_fund_geral[df_fund_geral['tag_melhores_25%']=='1']
df_fund_geral_negativo = df_fund_geral[df_fund_geral['tag_melhores_25%']=='0']

In [100]:
df_fund_geral_positivo.describe()

,Média_SARESP_geral,Carga_Horaria_Geral,QTDE_ALUNOS,tempo_diretor,tempo_coordenador,tempo_vice,SALAS_AULA,SALAS_ED_INF,SALAS_ED_ESP,SALAS_ED_ART,...,VARANDA,VIVEIRO,SALA_REORG_NEURO,SALA_TERAPIA_OCUP,SALA_SERIGRAFIA,SALA_MARCENARIA,QUIOSQUE,tag_formacao,TOT_DIAS_AUSENCIAS,Num_Disc_semprof
count,1196.000000,1132.000000,1161.000000,1153.000000,1180.000000,1172.000000,1174.000000,1174.000000,1174.000000,1174.000000,...,1174.000000,1174.000000,1174.0,1174.0,1174.0,1174.000000,1174.000000,1173.000000,1173.000000,1174.000000
mean,inf,13.062583,29.225086,3.145367,3.135111,2.839041,11.293867,0.000852,0.023850,0.071550,...,0.031516,0.000852,0.0,0.0,0.0,0.000852,0.010221,4.739009,5.859695,16.048552
std,7.292969,3.218938,4.873434,1.123818,1.057284,0.944996,4.110745,0.029185,0.152647,0.270754,...,0.233280,0.029185,0.0,0.0,0.0,0.029185,0.108769,0.186377,2.024422,7.682102
min,227.375000,3.647059,7.354167,1.555556,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,4.057851,1.000000,3.000000
25%,230.375000,10.951165,26.918367,2.333333,2.400000,2.200000,8.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,4.635922,4.465517,13.000000
50%,233.875000,12.874708,30.016667,2.800000,3.000000,2.666667,11.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,4.746575,5.731707,15.000000
75%,239.625000,14.949789,32.670732,3.666667,3.500000,3.333333,14.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,4.867647,7.144330,19.000000
max,270.250000,32.000000,38.440476,6.000000,6.000000,6.000000,32.000000,1.000000,1.000000,2.000000,...,3.000000,1.000000,0.0,0.0,0.0,1.000000,2.000000,5.292453,13.760000,37.000000

In [101]:
df_fund_geral_negativo.describe()

,Média_SARESP_geral,Carga_Horaria_Geral,QTDE_ALUNOS,tempo_diretor,tempo_coordenador,tempo_vice,SALAS_AULA,SALAS_ED_INF,SALAS_ED_ESP,SALAS_ED_ART,...,VARANDA,VIVEIRO,SALA_REORG_NEURO,SALA_TERAPIA_OCUP,SALA_SERIGRAFIA,SALA_MARCENARIA,QUIOSQUE,tag_formacao,TOT_DIAS_AUSENCIAS,Num_Disc_semprof
count,3584.000,3402.000000,3483.000000,3501.000000,3545.000000,3530.000000,3515.000000,3515.0,3515.000000,3515.000000,...,3515.000000,3515.000000,3515.0,3515.0,3515.0,3515.0,3515.000000,3514.000000,3512.000000,3516.000000
mean,inf,13.330518,28.394808,2.994325,2.914393,2.687599,12.387198,0.0,0.033855,0.077667,...,0.016785,0.000284,0.0,0.0,0.0,0.0,0.005974,4.714158,5.794303,16.445392
std,9.375,3.179813,3.587204,1.089747,0.955877,0.898549,4.258041,0.0,0.200292,0.277088,...,0.148996,0.016867,0.0,0.0,0.0,0.0,0.084135,0.186962,1.938597,8.162617
min,138.250,2.980000,6.500000,1.000000,1.000000,1.000000,2.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,3.700000,1.000000,3.000000
25%,207.125,11.246944,26.474706,2.200000,2.250000,2.000000,9.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.603646,4.489114,13.000000
50%,214.250,12.962731,28.777778,2.666667,2.714286,2.500000,12.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.725275,5.726136,15.000000
75%,220.500,15.097260,30.776148,3.500000,3.333333,3.000000,15.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.840639,7.027846,21.000000
max,227.250,32.000000,37.089888,6.000000,6.000000,6.000000,35.000000,0.0,3.000000,2.000000,...,3.000000,1.000000,0.0,0.0,0.0,0.0,2.000000,5.342857,17.058824,38.000000

In [102]:
df_medio_geral_positivo = df_medio_geral[df_medio_geral['tag_melhores_25%']=='1']
df_medio_geral_negativo = df_medio_geral[df_medio_geral['tag_melhores_25%']=='0']

In [103]:
df_medio_geral_positivo.describe()

,Média_SARESP_geral,Carga_Horaria_Geral,QTDE_ALUNOS,tempo_diretor,tempo_coordenador,tempo_vice,SALAS_AULA,SALAS_ED_INF,SALAS_ED_ESP,SALAS_ED_ART,...,VARANDA,VIVEIRO,SALA_REORG_NEURO,SALA_TERAPIA_OCUP,SALA_SERIGRAFIA,SALA_MARCENARIA,QUIOSQUE,tag_formacao,TOT_DIAS_AUSENCIAS,Num_Disc_semprof
count,958.000000,866.000000,944.000000,927.000000,954.000000,955.000000,954.000000,954.000000,954.000000,954.000000,...,954.000000,954.0,954.0,954.0,954.0,954.000000,954.000000,954.000000,953.000000,955.000000
mean,inf,12.016548,29.231385,3.206351,3.100679,2.900896,11.860587,0.004193,0.029350,0.062893,...,0.040881,0.0,0.0,0.0,0.0,0.001048,0.008386,4.744232,5.633568,19.077487
std,7.867188,2.997615,5.528700,1.159309,0.947619,1.038874,4.261699,0.102350,0.186586,0.251389,...,0.253839,0.0,0.0,0.0,0.0,0.032376,0.091237,0.185496,2.185273,5.956539
min,280.250000,3.647059,8.166667,1.250000,1.250000,1.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,4.034188,1.000000,3.000000
25%,282.500000,10.267262,26.227871,2.333333,2.428571,2.200000,9.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,4.636317,4.179487,14.000000
50%,285.750000,11.867962,30.064860,3.000000,3.000000,2.666667,12.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,4.756903,5.559322,18.000000
75%,291.500000,13.546247,33.170087,4.000000,3.500000,3.400000,14.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,4.873213,7.000000,22.000000
max,337.250000,32.000000,43.000000,6.000000,6.000000,6.000000,32.000000,3.000000,2.000000,2.000000,...,3.000000,0.0,0.0,0.0,0.0,1.000000,1.000000,5.256757,13.333333,37.000000

In [107]:
df_medio_geral_negativo.describe()

,Média_SARESP_geral,Carga_Horaria_Geral,QTDE_ALUNOS,tempo_diretor,tempo_coordenador,tempo_vice,SALAS_AULA,SALAS_ED_INF,SALAS_ED_ESP,SALAS_ED_ART,...,VARANDA,VIVEIRO,SALA_REORG_NEURO,SALA_TERAPIA_OCUP,SALA_SERIGRAFIA,SALA_MARCENARIA,QUIOSQUE,tag_formacao,TOT_DIAS_AUSENCIAS,Num_Disc_semprof
count,2859.000000,2771.000000,2793.000000,2811.000000,2851.000000,2846.000000,2840.000000,2840.000000,2840.000000,2840.000000,...,2840.000000,2840.000000,2840.0,2840.0,2840.0,2840.0,2840.000000,2839.000000,2837.000000,2841.000000
mean,inf,12.200723,29.831189,2.951152,2.809499,2.668732,12.707042,0.000352,0.030282,0.056338,...,0.016549,0.000352,0.0,0.0,0.0,0.0,0.008099,4.729223,5.937648,19.658219
std,8.359375,2.517548,4.513339,1.061422,0.812296,0.832515,4.289056,0.018765,0.183308,0.236645,...,0.150404,0.018765,0.0,0.0,0.0,0.0,0.100744,0.181434,1.923074,6.420948
min,233.750000,2.980000,6.944444,1.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,3.843750,1.000000,3.000000
25%,261.250000,10.625834,27.432432,2.200000,2.226496,2.111111,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.620690,4.679245,15.000000
50%,268.000000,12.152091,30.546875,2.666667,2.666667,2.500000,12.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.739583,5.857143,17.000000
75%,273.750000,13.644753,32.964286,3.450000,3.250000,3.000000,16.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,4.847826,7.142857,26.000000
max,280.000000,32.000000,40.178862,6.000000,6.000000,6.000000,35.000000,1.000000,2.000000,2.000000,...,3.000000,1.000000,0.0,0.0,0.0,0.0,2.000000,5.342857,17.058824,38.000000

In [108]:
for x in var_resposta:
    print(x)
    print(sp.stats.ttest_ind(df_fund_geral_negativo.dropna()[x], df_fund_geral_positivo.dropna()[x]))

Média_SARESP_geral
Ttest_indResult(statistic=-0.0, pvalue=1.0)
QTDE_ALUNOS
Ttest_indResult(statistic=-7.193311902131406, pvalue=7.396663430441281e-13)
tempo_coordenador
Ttest_indResult(statistic=-6.999474763249988, pvalue=2.957786218654246e-12)
tempo_vice
Ttest_indResult(statistic=-4.932247856344091, pvalue=8.428590957540587e-07)
TOT_SALAS_AULA
Ttest_indResult(statistic=7.1033118024632556, pvalue=1.413973995623663e-12)
SALAS_AULA
Ttest_indResult(statistic=7.170668808459152, pvalue=8.712615462559683e-13)
tempo_diretor
Ttest_indResult(statistic=-3.8832908879269543, pvalue=0.00010456379176798697)
Carga_Horaria_Geral
Ttest_indResult(statistic=2.6509959072033213, pvalue=0.008054229335151944)
TOT_DIAS_AUSENCIAS
Ttest_indResult(statistic=-1.670067897576604, pvalue=0.09497704293696357)
tag_formacao
Ttest_indResult(statistic=-3.606213718918245, pvalue=0.00031414294295214156)
Num_Disc_semprof
Ttest_indResult(statistic=1.1578029286483194, pvalue=0.24700729686682818)

C:\Users\epfel\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\epfel\Anaconda3\lib\site-packages\numpy\core\_methods.py:107: RuntimeWarning: overflow encountered in reduce
  arrmean = umr_sum(arr, axis, dtype, keepdims=True)

In [109]:
for x in var_resposta:
    print(x)
    print(sp.stats.ttest_ind(df_medio_geral_negativo.dropna()[x], df_medio_geral_positivo.dropna()[x]))

Média_SARESP_geral
Ttest_indResult(statistic=-0.0, pvalue=1.0)
QTDE_ALUNOS
Ttest_indResult(statistic=2.844908200843141, pvalue=0.004468090475657491)
tempo_coordenador
Ttest_indResult(statistic=-8.534459034447378, pvalue=2.0631160257549835e-17)
tempo_vice
Ttest_indResult(statistic=-5.5069204642933425, pvalue=3.913285996414264e-08)
TOT_SALAS_AULA
Ttest_indResult(statistic=4.9700136498618495, pvalue=7.014099282313585e-07)
SALAS_AULA
Ttest_indResult(statistic=4.826984869426803, pvalue=1.4451024022272642e-06)
tempo_diretor
Ttest_indResult(statistic=-4.9417481512193735, pvalue=8.103573762991948e-07)
Carga_Horaria_Geral
Ttest_indResult(statistic=1.4079125678086744, pvalue=0.1592452921911248)
TOT_DIAS_AUSENCIAS
Ttest_indResult(statistic=1.6250462641017271, pvalue=0.10424225221627659)
tag_formacao
Ttest_indResult(statistic=-2.240416848054297, pvalue=0.02512603672090746)
Num_Disc_semprof
Ttest_indResult(statistic=2.251943425575272, pvalue=0.02438725801406627)

In [139]:
var_nao_explicativa_medio = ['TOT_DIAS_AUSENCIAS', 'Carga_Horaria_Geral','Média_SARESP_geral', 'tag_melhores_25%']

In [140]:
var_nao_explicativa_fund = ['Num_Disc_semprof', 'TOT_DIAS_AUSENCIAS','Média_SARESP_geral', 'tag_melhores_25%']

## Normalizando os dados calculados

In [110]:
for x in var_resposta:
    df_medio_geral[x] = ((df_medio_geral[x] - df_medio_geral[x].min())/(df_medio_geral[x].max() - df_medio_geral[x].min()))

In [111]:
for x in var_resposta:
    df_fund_geral[x] = ((df_fund_geral[x] - df_fund_geral[x].min())/(df_fund_geral[x].max() - df_fund_geral[x].min()))

## tratando dados missing nos datasets

In [112]:
lista_fillna = ['Carga_Horaria_Geral' , 'QTDE_ALUNOS', 'tempo_diretor', 'tempo_coordenador', 'tempo_vice' ,'tag_formacao', 'TOT_DIAS_AUSENCIAS', 'Num_Disc_semprof']
for x in lista_fillna:
    df_medio_geral[x] = df_medio_geral[x].fillna(df_medio_geral[x].mean())

In [113]:
df_medio_geral = df_medio_geral.fillna(0)

In [114]:
lista_fillna = ['Carga_Horaria_Geral' , 'QTDE_ALUNOS', 'tempo_diretor', 'tempo_coordenador', 'tempo_vice' ,'tag_formacao', 'TOT_DIAS_AUSENCIAS', 'Num_Disc_semprof']
for x in lista_fillna:
    df_fund_geral[x] = df_fund_geral[x].fillna(df_fund_geral[x].mean())

In [115]:
df_fund_geral = df_fund_geral.fillna(0)

In [116]:
df_medio_geral_negativo.dtypes

Média_SARESP_geral     float16
tag_melhores_25%        object
Carga_Horaria_Geral    float32
QTDE_ALUNOS            float64
tempo_diretor          float64
                        ...
SALA_MARCENARIA        float64
QUIOSQUE               float64
tag_formacao           float64
TOT_DIAS_AUSENCIAS     float64
Num_Disc_semprof       float64
Length: 173, dtype: object

# Programando o modelo de classificação e verificando Primeiras importâncias

In [117]:
def mais_importantes(X, y):
        modelo = ExtraTreesClassifier(n_estimators = 200, criterion = 'entropy', verbose = 0)
        modelo.fit(X, np.array(y).ravel())
        importancias = modelo.feature_importances_
        variaveis = np.array(X.columns)
        indices = np.argsort(importancias)[::-1]
        importancias = importancias[indices]
        variaveis = variaveis[indices]
        return variaveis, importancias

In [141]:
X_medio_geral = df_medio_geral.drop(var_nao_explicativa_medio, axis=1)
y_medio_geral = df_medio_geral['tag_melhores_25%']
mais_importantes(X_medio_geral, y_medio_geral)

(array(['tempo_coordenador', 'QTDE_ALUNOS', 'tempo_vice', 'tempo_diretor',
        'TOT_SALAS_AULA', 'SALAS_AULA', 'Num_Disc_semprof', 'tag_formacao',
        'ARQUIVO', 'ALMOXARIFADO', 'PATIO_DESCOBERTO',
        'DEPOSITO_ALIMENTOS', 'TOT_DESPENSA', 'DEPEND_ADEQ_DEF',
        'SALA_ED_FISICA', 'REFEITORIO', 'SANITARIO_ADEQ_DEF', 'DESPENSA',
        'TOT_SANITARIO_FUNC', 'SALA_COORD_PEDAG', 'SALA_TV',
        'VICEDIRETORIA', 'SALA_RECURSO', 'SANITARIO_FUNC_FEM',
        'TOT_LAB_CIENCIA', 'CANTINA', 'QUADRA_DESCOBERTA',
        'SANITARIO_FUNC_MASC', 'TOT_QUADRA', 'ZELADORIA', 'COPA',
        'SECRETARIA', 'SALA_GREMIO', 'PATIO_COBERTO',
        'SALA_PROG_ESC_FAMILIA', 'SANITARIO_ADEQ_DEF_MASC',
        'SALA_INSPETOR', 'TOT_SANITARIO_AL', 'SANITARIO_ADEQ_DEF_FEM',
        'SANITARIO_AL_MASC', 'LAB_CIENCIA_FISICA_BIOLOGICA',
        'SANITARIO_AL_FEM', 'QUADRA_COBERTA', 'TOT_VESTIARIO', 'COZINHA',
        'LAB_MULTIUSO', 'SALA_REUNIAO', 'ELEVADOR', 'TOT_SALA_LEITURA',
        'LAVANDERIA', 'SALA_ESPERA', 'SALA_LEITURA', 'VESTIARIO_FEM',
        'LAB_FISICA', 'SALA_ATENDIMENTO', 'ESTACIONAMENTO', 'LAB_INFO',
        'AUDITORIO', 'VESTIARIO_MASC', 'SALA_PROF', 'LAB_CIENCIAS',
        'RECEPCAO', 'GABINETE_DENTARIO', 'ANFITEATRO', 'LAB_QUIMICA',
        'LAB_BIOLOGIA', 'DIRETORIA', 'VARANDA', 'SALAS_ED_ART', 'TEATRO',
        'SALA_ORIENT_ED', 'AREA_SERVICO', 'SALAS_ED_ESP', 'SALA_REFORCO',
        'SALA_AUX_COORDENACAO', 'REPROGRAFIA', 'SALA_MUSICA', 'OFICINA',
        'GINASIO', 'LAB_LINGUAS', 'PORTARIA', 'SALA_ENTRETENIMENTO',
        'BIBLIOTECA', 'QUIOSQUE', 'HORTA', 'CAMPO_FUTEBOL', 'QUADRA_AREIA',
        'CASA_MAQUINA', 'LAVATORIO', 'VIDEOTECA', 'SALA_ENERGIA_ELETRICA',
        'SALA_RESERV_AGUA', 'SALA_EVENTOS', 'PLAYGROUND', 'SALA_DADOS',
        'BRINQUEDOTECA', 'SALA_GINASTICA', 'SALA_DEP_PESSOAL', 'SOLARIO',
        'SANITARIO_ADEQ_PRE_MASC', 'SALA_FINANCEIRO',
        'SANITARIO_ADEQ_PRE_FEM', 'SALAS_ED_INF', 'CHURRASQUEIRA',
        'PISCINA', 'POMAR', 'SANITARIO_ADEQ_PRE', 'ALOJAMENTO_FEM',
        'TOT_ALOJAMENTO', 'FRALDARIO', 'SALA_SEGURANCA', 'ENFERMARIA',
        'SALA_MARCENARIA', 'SALA_ATEND_PSICOLOGICO', 'SALA_TERAPIA_EDUC',
        'QUADRA_GRAMA', 'SALA_MATRICULA', 'DORMITORIO', 'TESOURARIA',
        'SALA_PSICOLOGIA', 'SALA_TELEFONIA', 'LAB_DIDATICA', 'ESTUFA',
        'SALA_PASTORAL', 'SERVIDOR', 'MINHOCARIO', 'DEPOSITOS_CEREAIS',
        'LAB_TURISMO', 'LAB_PSICOPEDAGOGIA', 'VIVEIRO', 'BERCARIO',
        'SALA_REORG_NEURO', 'LAB_ESTETICA', 'MANGUEIRA', 'PACKING_HOUSE',
        'PSICULTURA', 'SALA_ED_RELIGIOSA', 'SALA_ESTAGIO',
        'SALA_INSUMO_AGRICOLA', 'SALA_INSUMO_VETERINARIO', 'LAB_JUNIOR',
        'SALA_MARKETING', 'SALA_POS_GRADUACAO', 'SALA_ORDENHA',
        'SALA_TERAPIA_OCUP', 'SALA_SERIGRAFIA',
        'SALA_PROC_PROD_AGROPECUARIOS', 'SILO', 'LAB_ENFERMAGEM',
        'GRAFICA', 'SALA_DIRETOR_TECNICO', 'ALOJAMENTO_MASC',
        'GARAGEM_ONIBUS', 'SALA_FISIOTERAPIA', 'SALA_FONOAUDIOLOGIA',
        'AMBULATORIO', 'SALA_ASSIST_SOCIAL', 'CONSULTORIO_MEDICO',
        'ABATEDOURO', 'BAZAR', 'GALPAO_SUINO', 'CASA_FUNC',
        'GALPAO_AVES_CORTE', 'GALPAO_AVES_POSTURA', 'GALPAO_BOVINOS_LEITE',
        'GALPAO_CUNICULTURA', 'GALPAO_MAQ_AGRICOLA',
        'GALPAO_OVINOS_CAPRINOS', 'LACTARIO'], dtype=object),
 array([3.24793453e-02, 2.94935509e-02, 2.78171998e-02, 2.73494160e-02,
        2.72186766e-02, 2.71016175e-02, 2.61213344e-02, 2.50807610e-02,
        1.99578597e-02, 1.94817717e-02, 1.77372639e-02, 1.75628505e-02,
        1.71891942e-02, 1.70048048e-02, 1.68802700e-02, 1.68165671e-02,
        1.66016989e-02, 1.65680341e-02, 1.60669996e-02, 1.58859032e-02,
        1.50799286e-02, 1.50135069e-02, 1.48066468e-02, 1.47562234e-02,
        1.46962326e-02, 1.43171708e-02, 1.37006223e-02, 1.35043450e-02,
        1.34626027e-02, 1.34486183e-02, 1.31700246e-02, 1.26999246e-02,
        1.24246528e-02, 1.18932065e-02, 1.17458910e-02, 1.14078538e-02,
        1.11816894e-02, 1.11016722e-02, 1.07092074e-02, 1.06399434e-02,
        1.05595421e-02, 1.05020374e-02, 1.01212565e-02, 1.00855710e-02,
        1.00509559e-02, 1.00035555e-02, 9.74995247e-03, 9.37530866e-03,
        9.31191812e-03, 9.28158496e-03, 9.06801027e-03, 8.94119020e-03,
        8.74503132e-03, 8.69346022e-03, 8.67749670e-03, 8.50478580e-03,
        7.98360158e-03, 7.94055192e-03, 7.82845005e-03, 7.32244957e-03,
        7.29191898e-03, 6.93117822e-03, 6.33350299e-03, 6.01245303e-03,
        5.66199815e-03, 5.58721919e-03, 5.57354205e-03, 5.22556159e-03,
        5.21065570e-03, 4.71483203e-03, 4.23510472e-03, 4.13051920e-03,
        3.86653147e-03, 3.79735977e-03, 3.32457659e-03, 3.19093775e-03,
        3.06936171e-03, 3.03970457e-03, 2.76016283e-03, 2.62525617e-03,
        2.55374277e-03, 2.53854358e-03, 2.34188469e-03, 1.93640050e-03,
        1.85002990e-03, 1.71121090e-03, 1.58700238e-03, 1.51766109e-03,
        1.47941643e-03, 1.37320363e-03, 1.36410138e-03, 1.30205637e-03,
        1.24059128e-03, 1.22411413e-03, 1.02155460e-03, 9.59000829e-04,
        9.44590147e-04, 8.70689367e-04, 7.42075793e-04, 7.19628704e-04,
        6.84011487e-04, 6.12795056e-04, 4.56093339e-04, 4.39121369e-04,
        3.63629221e-04, 3.26087423e-04, 3.20299279e-04, 2.89940303e-04,
        2.70775209e-04, 2.49485119e-04, 2.41520534e-04, 1.98190269e-04,
        1.73479602e-04, 1.04221098e-04, 8.66555007e-05, 5.51321190e-05,
        4.58308620e-05, 4.18280208e-05, 3.96093445e-05, 3.84689087e-05,
        3.48022319e-05, 3.12426152e-05, 3.08046129e-05, 2.74260626e-05,
        2.38377992e-05, 1.90044814e-05, 6.85442697e-06, 3.75187368e-06,
        3.10071997e-06, 3.33068613e-07, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00]))

In [142]:
X_fund_geral = df_fund_geral.drop(var_nao_explicativa_fund, axis=1)
y_fund_geral = df_fund_geral['tag_melhores_25%']
mais_importantes(X_fund_geral, y_fund_geral)

(array(['QTDE_ALUNOS', 'tempo_coordenador', 'tempo_vice', 'TOT_SALAS_AULA',
        'SALAS_AULA', 'tempo_diretor', 'tag_formacao',
        'Carga_Horaria_Geral', 'ALMOXARIFADO', 'ARQUIVO',
        'PATIO_DESCOBERTO', 'TOT_DESPENSA', 'DEPOSITO_ALIMENTOS',
        'REFEITORIO', 'DEPEND_ADEQ_DEF', 'SALA_ED_FISICA',
        'SANITARIO_ADEQ_DEF', 'SALA_RECURSO', 'TOT_SANITARIO_FUNC',
        'DESPENSA', 'SANITARIO_FUNC_FEM', 'VICEDIRETORIA',
        'SALA_COORD_PEDAG', 'CANTINA', 'TOT_QUADRA', 'PATIO_COBERTO',
        'SANITARIO_FUNC_MASC', 'SALA_TV', 'QUADRA_DESCOBERTA', 'COPA',
        'ZELADORIA', 'SECRETARIA', 'QUADRA_COBERTA', 'COZINHA',
        'TOT_LAB_CIENCIA', 'SALA_LEITURA', 'TOT_SANITARIO_AL',
        'SALA_PROG_ESC_FAMILIA', 'TOT_SALA_LEITURA', 'TOT_VESTIARIO',
        'SANITARIO_AL_MASC', 'SANITARIO_AL_FEM', 'SALA_ESPERA',
        'SALA_GREMIO', 'SANITARIO_ADEQ_DEF_FEM', 'LAB_INFO',
        'SANITARIO_ADEQ_DEF_MASC', 'SALA_INSPETOR', 'VESTIARIO_FEM',
        'ELEVADOR', 'LAB_CIENCIA_FISICA_BIOLOGICA', 'SALA_REUNIAO',
        'LAB_MULTIUSO', 'LAVANDERIA', 'SALA_PROF', 'ESTACIONAMENTO',
        'SALA_ATENDIMENTO', 'RECEPCAO', 'VESTIARIO_MASC', 'LAB_CIENCIAS',
        'AUDITORIO', 'GABINETE_DENTARIO', 'SALAS_ED_ART', 'DIRETORIA',
        'ANFITEATRO', 'SALA_REFORCO', 'LAB_QUIMICA', 'SALAS_ED_ESP',
        'SALA_AUX_COORDENACAO', 'SALA_ORIENT_ED', 'BRINQUEDOTECA',
        'VARANDA', 'TEATRO', 'AREA_SERVICO', 'PLAYGROUND', 'SALA_MUSICA',
        'LAB_BIOLOGIA', 'PORTARIA', 'SALA_ENTRETENIMENTO', 'LAB_FISICA',
        'HORTA', 'BIBLIOTECA', 'LAB_LINGUAS', 'QUADRA_AREIA', 'GINASIO',
        'OFICINA', 'REPROGRAFIA', 'QUIOSQUE', 'CASA_MAQUINA',
        'SALA_RESERV_AGUA', 'CAMPO_FUTEBOL', 'VIDEOTECA', 'LAVATORIO',
        'SALA_DEP_PESSOAL', 'SALA_ENERGIA_ELETRICA',
        'SANITARIO_ADEQ_PRE_FEM', 'SALA_EVENTOS',
        'SANITARIO_ADEQ_PRE_MASC', 'SANITARIO_ADEQ_PRE', 'SOLARIO',
        'SALA_FINANCEIRO', 'POMAR', 'SALA_DADOS', 'FRALDARIO',
        'SALA_GINASTICA', 'SALA_SEGURANCA', 'PISCINA', 'LAB_DIDATICA',
        'SERVIDOR', 'QUADRA_GRAMA', 'TESOURARIA', 'SALA_ATEND_PSICOLOGICO',
        'VIVEIRO', 'SALA_PASTORAL', 'SALAS_ED_INF', 'ENFERMARIA',
        'ALOJAMENTO_FEM', 'ESTUFA', 'TOT_ALOJAMENTO', 'SALA_MARCENARIA',
        'SALA_TELEFONIA', 'SALA_PSICOLOGIA', 'SALA_MATRICULA',
        'DORMITORIO', 'DEPOSITOS_CEREAIS', 'CONSULTORIO_MEDICO',
        'LAB_PSICOPEDAGOGIA', 'SALA_TERAPIA_EDUC', 'MINHOCARIO',
        'SALA_ESTAGIO', 'CHURRASQUEIRA', 'LAB_TURISMO', 'PSICULTURA',
        'MANGUEIRA', 'PACKING_HOUSE', 'SALA_SERIGRAFIA',
        'SALA_TERAPIA_OCUP', 'SALA_POS_GRADUACAO', 'SALA_REORG_NEURO',
        'SALA_PROC_PROD_AGROPECUARIOS', 'SALA_ED_RELIGIOSA',
        'SALA_INSUMO_AGRICOLA', 'SALA_INSUMO_VETERINARIO',
        'SALA_MARKETING', 'SALA_ORDENHA', 'GRAFICA', 'LAB_ESTETICA',
        'CASA_FUNC', 'LACTARIO', 'SALA_DIRETOR_TECNICO', 'GARAGEM_ONIBUS',
        'SALA_FISIOTERAPIA', 'SALA_FONOAUDIOLOGIA', 'SALA_ASSIST_SOCIAL',
        'ABATEDOURO', 'ALOJAMENTO_MASC', 'BAZAR', 'GALPAO_AVES_CORTE',
        'LAB_ENFERMAGEM', 'GALPAO_AVES_POSTURA', 'GALPAO_BOVINOS_LEITE',
        'GALPAO_CUNICULTURA', 'GALPAO_MAQ_AGRICOLA',
        'GALPAO_OVINOS_CAPRINOS', 'AMBULATORIO', 'GALPAO_SUINO',
        'BERCARIO', 'LAB_JUNIOR', 'SILO'], dtype=object),
 array([4.49115404e-02, 3.07942163e-02, 2.96420665e-02, 2.93010755e-02,
        2.89686878e-02, 2.87084415e-02, 2.60656685e-02, 2.56284163e-02,
        2.06767250e-02, 1.91022689e-02, 1.83371866e-02, 1.75050758e-02,
        1.69423481e-02, 1.67812675e-02, 1.67206739e-02, 1.64956023e-02,
        1.64540460e-02, 1.63487557e-02, 1.60665270e-02, 1.59811210e-02,
        1.50002606e-02, 1.47324196e-02, 1.44176138e-02, 1.41474522e-02,
        1.40062154e-02, 1.38677021e-02, 1.36492296e-02, 1.34146061e-02,
        1.32757138e-02, 1.30681549e-02, 1.30079419e-02, 1.23302047e-02,
        1.18807041e-02, 1.16855384e-02, 1.16007030e-02, 1.13483173e-02,
        1.10607126e-02, 1.10457554e-02, 1.08211054e-02, 1.01601724e-02,
        1.01585603e-02, 9.99836301e-03, 9.82426122e-03, 9.73910756e-03,
        9.68475051e-03, 9.41744864e-03, 9.41460977e-03, 9.35076032e-03,
        9.12841556e-03, 8.99530859e-03, 8.98907987e-03, 8.83278436e-03,
        8.80216787e-03, 8.42566049e-03, 8.32294976e-03, 8.32160462e-03,
        8.08063606e-03, 7.76312315e-03, 7.48002368e-03, 7.10202195e-03,
        6.47385815e-03, 5.94766318e-03, 5.86170038e-03, 5.56546024e-03,
        5.24363352e-03, 4.38293320e-03, 4.25849175e-03, 4.10368400e-03,
        4.09168192e-03, 3.95770556e-03, 3.60448901e-03, 3.58515079e-03,
        3.53296669e-03, 3.40351687e-03, 3.00005511e-03, 2.97098837e-03,
        2.86524905e-03, 2.69221935e-03, 2.59745406e-03, 2.26809855e-03,
        2.20360814e-03, 2.20131507e-03, 2.10614245e-03, 2.08928097e-03,
        1.99584086e-03, 1.99197209e-03, 1.94526268e-03, 1.84586886e-03,
        1.67539454e-03, 1.67191352e-03, 1.52912645e-03, 1.23787704e-03,
        1.20286055e-03, 1.01691143e-03, 1.00936024e-03, 1.00112897e-03,
        9.22641385e-04, 8.17710680e-04, 6.42973930e-04, 6.20728788e-04,
        6.19895794e-04, 5.92600557e-04, 5.41814501e-04, 4.65685280e-04,
        4.04185958e-04, 3.58923610e-04, 2.81258284e-04, 2.64532237e-04,
        2.48814612e-04, 2.30085136e-04, 2.15221664e-04, 2.13910985e-04,
        2.11805905e-04, 2.09462333e-04, 1.87473135e-04, 1.72389563e-04,
        1.65010774e-04, 1.61717907e-04, 1.50443290e-04, 1.39606235e-04,
        6.32176832e-05, 4.41496114e-05, 3.07951160e-05, 2.70549046e-05,
        2.00242258e-05, 1.40301327e-05, 1.19255943e-05, 1.00096940e-05,
        8.58598320e-06, 7.17458176e-06, 5.23577945e-06, 4.16954622e-06,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00]))

## Refazendo a Classificação com as variaveis mais presentes

In [143]:
var_maior_entropia_medio = ['QTDE_ALUNOS', 'tempo_coordenador', 'tempo_vice', 'TOT_SALAS_AULA','SALAS_AULA', 'tempo_diretor', 'tag_formacao','Carga_Horaria_Geral', 'ALMOXARIFADO', 'ARQUIVO']
var_maior_entropia_fundamental = ['QTDE_ALUNOS', 'tempo_coordenador', 'tempo_vice', 'TOT_SALAS_AULA','SALAS_AULA', 'tempo_diretor', 'tag_formacao','Carga_Horaria_Geral', 'ALMOXARIFADO', 'ARQUIVO']

In [144]:
X_medio_geral = df_medio_geral[var_maior_entropia_medio]
y_medio_geral = df_medio_geral['tag_melhores_25%']
mais_importantes(X_medio_geral, y_medio_geral)

(array(['QTDE_ALUNOS', 'tempo_coordenador', 'tag_formacao',
        'Carga_Horaria_Geral', 'tempo_vice', 'tempo_diretor',
        'TOT_SALAS_AULA', 'SALAS_AULA', 'ALMOXARIFADO', 'ARQUIVO'],
       dtype=object),
 array([0.12172421, 0.1197795 , 0.11528624, 0.11512256, 0.11400277,
        0.10697675, 0.08882693, 0.08621284, 0.07245829, 0.0596099 ]))

In [145]:
X_fund_geral = df_fund_geral[var_maior_entropia_fundamental]
y_fund_geral = df_fund_geral['tag_melhores_25%']
mais_importantes(X_fund_geral, y_fund_geral)

(array(['QTDE_ALUNOS', 'tag_formacao', 'Carga_Horaria_Geral', 'tempo_vice',
        'tempo_coordenador', 'tempo_diretor', 'SALAS_AULA',
        'TOT_SALAS_AULA', 'ALMOXARIFADO', 'ARQUIVO'], dtype=object),
 array([0.15297153, 0.11235714, 0.11223819, 0.10968444, 0.10967111,
        0.10339929, 0.08585125, 0.08461533, 0.06907326, 0.06013848]))